@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    /* outline: solid 1px rgb(153, 147, 147); */
    font-family: 'Montserrat', sans-serif;
}
    

body{
    margin: 0;
}

html{
    width: 100%; 
    height: 100%
}

.main-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

/* Header */
.main-container .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #30258E;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 130px;
}

input[type="text"],
input[type="date"],
select{
    padding: 18px;
    border-radius: 8px;
    border: solid 2px #E4EEFE;
    background: #f2f7ff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    font-weight: 400;
    font-size: 15px;
}

input:focus{
    background: white;
    border: 2px solid #A6C8FF;
    outline: none;
}

/* End Header */

/* steps */

.steps{
    display: flex;
    justify-content: center;
    margin-top: -75px;
}

.steps-buttons{
    display: flex;
    overflow-x: auto;
    max-width: 100vw;
    padding: 16px;
    gap: 0px;
}

.steps-buttons button:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.steps-buttons button:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.steps-buttons button{
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    padding: 35px 25px;
    background: white;
    border: 1px solid #E4EEFE;
    color: #777;
    cursor: pointer;
    margin: 0;
}

.steps-buttons .active-step{
    background: #f2f7ff;
    font-weight: 700;
    color: black;
}

/* End steps */

/* Resume */

.resume-container{
    overflow: auto;
    width: 100vw;
}

.resume-size{
    width: 620px;
    height: 877px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin:  0 auto;
}

.resume1{
    display: flex;

    justify-content: center;
    width: 100%;
    padding: 18px;
    gap: 18px;
}

/* End hero */

hr{
    margin: 0;
}

/* left-info */

.left-info{
    display: block;
    width: 660px;
    height: 105px;
}

.foto{
    margin-left: 25px;
    margin-bottom: -95px;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: url(./images/Favicon/brut\ foto.png);
}

.left-tabs h2{
    margin-top: 25px;
    font-size: 12px;
}

.left-info .social{
    margin-top: 120px;
    padding-left: 18px;
    font-size: 10px;
}

.social-class{
    display: flex;
    align-items: center;
    gap: 5px;
}

.social p{
    display: block;
}

.contact{
    display: flex;
}

.contact .contact-info p{
    display: inline-block;
    align-items: center;
    margin: auto;
    padding-left: 1px;
    font-size: 8px;
}

.contact img{
    margin-left: 14px;
    padding: 2px;
}

/* End left-info */

/* right-info */


.right-info{
    display: inline;
    gap: 24px;
}

.right-info h1{
    font-size: 25px;
    padding-left: 25px;
    font-family: 'Bebas Neue', cursive;
}

.right-info h2{
    font-size: 12px;
    padding-left: 25px;
    font-family: 'Bebas Neue', cursive;
}

.right-info p{
    font-size: 10px;
    padding-left: 25px;
    font-family: 'Bebas Neue', cursive;
}

.right-info .about{
   margin-bottom: 30px;
}

.right-info h3{
    font-size: 9px;
}

.right-info h4{
    font-size: 12px;
}

.exp-class{
    margin-bottom: 50px;
}

.exp-class li{
    font-size: 10px;
}

/* End right-info */

/* btn */

.footer{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    cursor: pointer;
    bottom: 0;
}

.footer button{
    background: linear-gradient(55.75deg, #6115D8 29.75%, #25F1F2 84.23%);
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

/* End btn */