/* Resume */

.resume-container {
  flex: 1;
  overflow: auto;
  padding: 24px;
  padding-top: 0px;
  /* background: url(./images/photo/back8.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: -50px; */
  /* display: none; */
}
.resume-size {
  width: 620px;
  min-height: 877px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
  background: white;
}

.resume1 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 42px;
  gap: 34px;
  font-family: "Noto Sans", sans-serif;
}

/* End hero */

hr {
  margin: 0;
}

/* left-info */

.left-info {
  min-width: 150px;
  max-width: 150px;
  overflow-x: hidden;
}

.foto {
  /* margin-left: 25px; */
  /* margin-bottom: -95px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 250px;
  background: url(./images/imagePlaceholder.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(240, 240, 240);
}

.left-info .left-info-section {
  margin-bottom: 24px;
  font-size: 12px;
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #bcbdc0;
}

.social:nth-child(1) {
  border-top: 1px solid #bcbdc0;
}

.resume-container .text {
  border-bottom: 1px solid #bcbdc0;
  font-style: italic;
}

.text p {
  margin: 4px 0;
}

.resume-container .text:nth-child(1) {
  border-top: 1px solid #bcbdc0;
}

.text p:first-child {
  font-style: normal;
  font-weight: bold;
}

.left-info-section p span {
  font-weight: bolder;
}

.left-info-section img {
  width: 20px;
  height: 20px;
}

.contact {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px 0;
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
}

.right-info .work-post h2 {
  margin: 8px 0;
  font-size: 16px;
}
.right-info .work-post h4 {
  font-size: 10px;
  margin: 4px 0;
  color: rgb(90, 90, 90);
}
.right-info .work-post div {
  display: flex;
  gap: 12px;
}

/* h2{
   margin: 43px 0 15px; 
} */

.contact .contact-info {
  display: flex;
  gap: 4px;
  align-items: center;
  /* font-size: 8px; */
}

.contact .contact-info p {
  margin: 0px;
}

.contact .contact-info p span {
  font-weight: bolder;
}

.contact img {
  padding: 4px 0;
  /* padding: 2px; */
}

/* End left-info */

/* right-info */

.right-info h1 {
  font-size: 25px;
  margin: 0;
}

.right-info h2 {
  font-size: 16px;
}

.right-info p {
  font-size: 10px;
  /* padding-left: 25px; */
}

.right-info .about {
  margin-bottom: 30px;
}

.info-about {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 8px;
}

.info-about div {
  display: flex;
  flex-direction: column;
}

.info-about div p {
  font-size: 10px;
  margin: 0;
}

.info-about div h4 {
  font-size: 8px;
  margin: 0;
}

.info-about .birthday p {
  font-size: 10px;
}

.right-info h3 {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  margin: 4px 0;
}

.right-info h4 {
  font-size: 12px;
  margin: 20px 0 0px;
}

.exp-class li {
  font-size: 10px;
}

/* End right-info */

/* resume steps */

.resume-steps {
  padding: 16px 0;
}

/* End resume steps */

#educationListResumeContainer,
#courseListResumeContainer,
#softwareListResumeContainer,
#personalQualitiesListResumeContainer {
  display: none;
}
