@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    /* outline: solid 1px rgb(153, 147, 147); */
    font-family: 'Montserrat', sans-serif;
}
    

body{
    margin: 0;
}

html{
    width: 100%; 
    height: 100%
}

.main-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

/* Header */
.main-container .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #30258E;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 130px;
}

/* End Header */

/* steps */

.steps{
    display: flex;
    justify-content: center;
    margin-top: -75px;
}

.steps-buttons{
    display: flex;
    overflow-x: auto;
    max-width: 100vw;
    padding: 16px;
    gap: 0px;
}

.steps-buttons button:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.steps-buttons button:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.steps-buttons button{
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    padding: 35px 25px;
    background: white;
    border: 1px solid #E4EEFE;
    color: #777;
    cursor: pointer;
    margin: 0;
}

.steps-buttons .active-step{
    background: #f2f7ff;
    font-weight: 700;
    color: black;
}

/* End steps */

/* hero */

.hero{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 18px;
}


.hero h1{
    margin-left: 1px;
}

.hero .right-front{
    width: 160px;
    height: 1080px;
    background: #4F4E52;
}

.right-front .foto{
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-left: 15px;
    margin-top: 20px;
    background: url(./images/Favicon/foto\ o.png);
}

.right-front p{
    color: aliceblue;
    margin-left: 36px;
}

.right-front h3{
    margin-left: 18px;
    color: aliceblue;
    margin-top: 60px;
    font-size: 12px;
}

.hero h2{
    font-size: 13px;
    margin-top: -16px;
}

.right-front li{
    margin-left: -13px;
    color: aliceblue;
    font-size: 10px;
    padding-top: 12px;s
}

/* End hero */

/* name */

.name .class-info hr{
    margin-left: 1px;
    width: 38px;
    border: solid 3px black;

}

.name p{
    font-size: 10px;
    margin-right: 12px;
}

.name li{
    font-size: 12px;
}

.name hr{
    border: solid 1px black;
    margin-top: 25px;
    margin-left: -40px;
}

.class-info h3{
    margin-top: 35px;
}

.date-skill{
    font-size: 11px;
}

.date-skill hr{
    border: solid 1px black;
    margin: 0;
    width: 62px;
    
}

.hidden-div{
    height: 25px;
}

.date-skill h4{
   margin: 0;
    font-size: 11px;
}

.date-skill h5{
    font-size: 16px;
}

/* End name */


hr{
    width: 120px;
    border: solid 1px aliceblue;
    margin-bottom: 5px;
}

/* btn */

.footer{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    cursor: pointer;
    bottom: 0;
}

.footer button{
    background: linear-gradient(55.75deg, #6115D8 29.75%, #25F1F2 84.23%);
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

/* End btn */